<li>
<div class="velg-summary" id="<%= eval('accessoire_path(accessoire)')%>">
<div class="velg-thumb-summary"><%= image_fu accessoire.afbeelding1, '100x100' %></div>
<div class="velg-short">
<h2><%= accessoire.title %></h2><br>

</div>
<div class="clearfix"></div>
</div>
</li>
