<div class="content">
<section id='body_content'>
  <div id="home_title"><%=raw @page.content_for(:body) %></div>
</section>
<div id="home_div"><%=raw @page.content_for(:side_body) %></div> 
<div id="home_languages">
<p>Select your language</p>
<ul>
<a href="/nl/peugeots"><li id="home_li_nl">Nederlands</li></a>
<a href="/en/peugeots"><li id="home_li_en">English</li></a>
<a href="/de/peugeots"><li id="home_li_de">Deutsch</li></a>
<a href="/fr/peugeots"><li id="home_li_fr">Fran&ccedil;ais</li></a>
<a href="/it/peugeots"><li id="home_li_it">Italiano</li></a>
<a href="/es/peugeots"><li id="home_li_es">Espa&ntilde;ol</li></a>
<a href="/pt-BR/peugeots"><li id="home_li_po">Portugu&ecirc;s</li></a>
</ul>
</div>
</div>
